<div class="about-container row">
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" [src]="face" alt="Imagen de perfil" width="250">
        <h1 class="name text-center">Héctor Rodríguez</h1>
        <p class="qualification text-center">
            Full Satck Web Developer
        </p>
    </div>
    <div class="text-about col-9">
        <h3 class="section-title">Sobre Mi</h3>
        <p class="about-description text-justify">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore sit illum accusantium aspernatur amet
            pariatur enim voluptatem laboriosam veniam dolorem. Eveniet, sapiente placeat nulla dolor deserunt accusamus
            mollitia accusantium ab?
        </p>
    </div>
</div>