.edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #005a0c;
    border-radius: 50%;
    color: #fff;
    margin: 10px;
}